/* Main elements for the site */

body {
	background: #fefefe;
	color: #111;
	font-size: 0.7em;
	font-style: normal;
	font-family: Verdana, Arial, Helvetica, Sans-serif;
}

h1 {
	font-size: 1.2em;
}

h2 {
	font-size: 1.1em;
}

h3 {
	font-size: 1.0em;
	font-weight: bold;
}

blockquote {
}

em, strong, b {
	font-weight: bold;
}

/* links */

a:link {
	color: #4d70a0;
	text-decoration: underline;
}

a:visited {
	color: #4d70a0;
	text-decoration: underline;
}

a:hover {
	color: #4d70a0;
	text-decoration: underline;
}

a:active {
	color: #4d70a0;
}

/* divs and positioning */

#footer {
	clear: both;
	text-align: center;
	font-size: 0.9em;	
}

#wrap {
	width: 687px;
	padding: 2px 0px;
	float: left;
	background: transparent;
	max-width: 80em;
	background: transparent;
}

#topmenu {
	background: #f0f3f9;
	color: #000;
	font-size: 1.1em;
	padding: 0.7em;
	border: 1px solid #ddd;
}

#leftcontent {
	padding: 0em;
	float: left;
	clear: both;
}

#rightmenu {
	padding: 0em;
	width: 40%;
	float:right;
}

/* Menu lists */

#topmenu ol {
	list-style: none inside;
	display: inline;
	margin: 0em;
	padding: 0em;
	clear: both;
}

#topmenu li {
	display:inline;
}

#topmenu li:before {
	content: "| ";
}
#topmenu li:first-child:before {
	content: "";
}

#topmenu form {
	float: right;
	clear: both;
	margin-top: -0.3em;
}

ol.caselist {
	list-style: none inside;
	margin: 0em;
	padding: 0em;
}

.caselist li {
	padding-top: 0.5em;
	padding-bottom: 0.5em;
	border-bottom: 1px solid #ddd;
	background-position: 0 0.5em; 
}


.caselist li:nth-child(odd) {
	background-color: #f0f3f9;
}

li.red, li.yellow, li.green {
	padding-left: 2em;
	list-style-type: none;
	background-repeat: no-repeat;
}

li.red {
	background-image: url("img/bullet_red.png"); 
}

li.yellow {
	background-image: url("img/bullet_orange.png");
}

li.green {
	background-image: url("img/bullet_green.png");
}

/* Special */

.highlight {
	background: #f0f3f9;
	padding: 0.3em 0.3em;
}

.imgmargin {
	margin: 0.3em;
	position: relative;
	top: 0.5em;
}
